<h1>Bulk Discount <%= @bulk_discount.id %></h1>
<ul>
  <li>Discount Percent: <%= @bulk_discount.format_discount_percent %></li>
  <li>Quantity Threshold: <%= @bulk_discount.quantity_threshold %></li>
</ul>