<h1>Admin Merchant Index Page</h1>
<div id="all_merchants">
  <ol>
    <% @merchants.each do |merchant| %>
      <%= link_to "#{merchant.name}", admin_merchant_path(merchant) %>
    <% end %>
  </ol>
</div>