<h1>Admin Merchant Index Page</h1>
<div id="all_merchants">
  <ol>
    <% @merchants.each do |merchant| %>
      <li id="admin_<%= merchant.id %>">
        <%= link_to "#{merchant.name}", admin_merchant_path(merchant) %>
        <%= render partial: 'endisable', locals: {
          obj: merchant, 
          status: 'enabled', 
          button_text: 'Enable'} %>
        <%= render partial: 'endisable', locals: {
          obj: merchant, 
          status: 'disabled',
          button_text: 'Disable'} %>
      </li>
    <% end %>
  </ol>
</div>