<h2><%= @merchant.name %></h2>

<div class="enabled-items-column">
  <%= content_tag :div, id: "enabled_items" do %>
    <h3>Enabled Items</h3>
    <% @merchant.items.each do |item| %>
    <ul>
      <li><%= link_to item.name,  merchant_item_path(@merchant, item) %>
    </ul>
    <% end %>
  <% end %>
</div>